.form-input{
    height: 40px;
    width: 100%;
    padding: 0 1em;
    margin: .6em 0;
    font-size: 14px;
    color: #000;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border-radius: 4px;
    border-width: 0;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}
.innov--input{
    width: 26em;
    background-color: #e4edf2;
    height: 40px;
    padding: 0 1em;
    font-size: 14px;
    color: #000;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-sizing: border-box;
    border-radius: 4px;
    border-width: 0;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}